body {
  font-family: Arial, sans-serif;
}
#searchBar {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}
#busRoutesTable {
  margin-top: 20px;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}
#busRoutesTable th,
#busRoutesTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
#busRoutesTable th {
  background-color: #087f5b;
  color: #fff;
}
#busRoutesTable tr:nth-child(odd) {
  background-color: #f8f9fa;
}
#busRoutesTable tr:nth-child(even) {
  background-color: #e9ecef;
}
